:root {
  --dark-blue: #005564;
  --light-blue: #c0d9d9;
  --green: #a0d187;
  --red: #cf9697;
  --yellow: #fce757;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: "Francois One";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 120px; /* 200% */
}

h2 {
  color: var(--dark-blue, #005564);
  font-family: "Francois One";
  font-size: 60px;
  font-weight: 400;
}
